## LAB Assignment 7: Association Mining
### Name: Beeta Samad <br> Roll number: 181210016

In [36]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (0.18.0)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (0.24.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.6.0)
Requirement already satisfied: setuptools in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (49.2.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.19.5)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (3.3.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.0.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.1.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: six in c:\users\beeta\appdata\roaming\python\python39\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\beeta\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)

In [37]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth



``` 
Transaction data: 

Transaction ID  Item Purchased
1               Cheese, Juice, Milk
2               Bread, Juice, Milk
3               Bread, Cheese, Egg, Juice
4               Bread, Milk, Yogurt
5               Bread, Cheese, Juice

```

In [38]:
items = [['Cheese', 'Juice', 'Milk'], 
        ['Bread', 'Juice', 'Milk'], 
        ['Bread', 'Cheese', 'Egg', 'Juice'], 
        ['Bread', 'Milk', 'Yogurt'], 
        ['Bread', 'Cheese', 'Juice']]

In [39]:
df = pd.DataFrame(items)
df

        0       1       2      3
0  Cheese   Juice    Milk   None
1   Bread   Juice    Milk   None
2   Bread  Cheese     Egg  Juice
3   Bread    Milk  Yogurt   None
4   Bread  Cheese   Juice   None

In [41]:
apr = apriori(df, min_support = 0.5, use_colnames=True)
apr

   support         itemsets
0      0.8          (Bread)
1      0.6         (Cheese)
2      0.8          (Juice)
3      0.6           (Milk)
4      0.6   (Bread, Juice)
5      0.6  (Juice, Cheese)

In [42]:
apriori_strong = association_rules(apr, metric='confidence', min_threshold=0.6)
apriori_strong

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bread),(Juice),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(Juice),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(Juice),(Cheese),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
3,(Cheese),(Juice),0.6,0.8,0.6,1.00,1.2500,0.12,inf

In [43]:
fp = fpgrowth(df, min_support=0.5, use_colnames=True)
fp

   support         itemsets
0      0.8          (Juice)
1      0.6           (Milk)
2      0.6         (Cheese)
3      0.8          (Bread)
4      0.6  (Juice, Cheese)
5      0.6   (Bread, Juice)

In [44]:
fp_strong = association_rules(fp, metric='confidence', min_threshold=0.6)
fp_strong

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Juice),(Cheese),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
1,(Cheese),(Juice),0.6,0.8,0.6,1.00,1.2500,0.12,inf
2,(Bread),(Juice),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Juice),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8